<!-- This script runs immediately to prevent a "flash" of the wrong theme -->
<script>
  (function () {
    const theme = localStorage.getItem("theme");
    if (theme === "light") {
      document.body.classList.add("light-theme");
    }
  })();
</script>
<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <div class="container-fluid">
    <button
      class="btn btn-outline-secondary me-2"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#toolsOffcanvas"
      aria-controls="toolsOffcanvas"
    >
      <i class="fa-solid fa-bars"></i>
    </button>
    <a class="navbar-brand d-flex align-items-center" href="#">
      <i class="fa-brands fa-suse fs-2 me-2"></i>
      <h3 class="mb-0">Toolverse</h3>
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navCollapse"
      aria-controls="navCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navCollapse">
      <!-- This form will be pushed to the right -->
      <!-- Theme Toggle Button -->
      <button id="theme-toggle-btn" class="btn btn-outline-secondary ms-auto">
        <i class="fa-solid fa-sun"></i>
      </button>
    </div>
  </div>
</nav>
<br /><br />
